img{
    width: auto;
    height: 200px;
    margin-bottom: -50px;
    z-index: 10;
}
.box{
    background-color: rgb(251, 213, 255);
    width: 400px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
button{
    background-color: rgb(165, 59, 219);
    color: rgb(72, 0, 67);
    width: 150px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    border: none;
}
button:hover{
    background-color: rgb(145, 145, 255);
    cursor: pointer;
}

body{
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(pink.png) ;
}
h1{
    color: rgb(72, 0, 67);
    display: flex;
    font-size: 50px;
    margin-top: 0px;
}
input{
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-top: 5px; 
    border:none;
    border-bottom: 2px solid rgb(72, 0, 67);
    background-color: rgb(251, 213, 255);

}
